@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=Playwrite+NG+Modern:wght@100..400&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap');


:root{
  --highlight: #ff4500;
  --highlight-txt: "Caveat", cursive;
  --hero-font: "DM Serif Text", serif;
  --title-font: "Saira Condensed", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body{
  background-color: white;
}

.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.navbar .container{
  border-bottom: 1px solid white;
}

.navbar-brand{
  font-weight: 700;
}

.navbar .enquiry-btn{
  border: 1px solid var(--highlight);
  background-color: var(--highlight);
  color: white;
  font-weight: 600;
}

.enquiry-btn:hover{
  background-color: transparent;
  color: var(--highlight);
}

.offcanvas{
  height: 100vh !important;
}

.hero{
  height: 100vh;
  background: url(images/c4-min.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.hero-txt{
  letter-spacing: 5px;
  font-size: 14px;
  color: var(--highlight);
  font-family: var(--hero-font);
}

.hero-title{
  letter-spacing: 2px;
  font-size: 64px;
  font-weight: 900;
  font-family: var(--hero-font);
}

.intro{
  padding: 150px 0;
}

.intro p{
  font-size: 18px;
}

.intro p span{
  color: var(--highlight);
  font-size: 18px;
}

.intro img{
  width: 100%;
}

.history{
  background-color: #caf0f8;
}

.history-heading span{
  color: var(--highlight);
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--highlight-txt);
}

.history-heading h6{
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: var(--title-font);
}

.history-para{
  text-align: justify;
  font-size: 18px;
}

.history{
  padding: 150px 0;
}

.history-content{
  width: 50%;
  position: relative;
}

.history-images img{
  width: 40%;
  border: 15px solid white;
}

.f-img{
  position: absolute;
  top: -50px;
  left: -320px;
  rotate: -30deg;
  transition: .8s ease;
}

.f-img:hover,
.s-img:hover,
.t-img:hover,
.fo-img:hover{
  transform: scale(1.1);
  z-index: 2;
  rotate: 0deg;
  width: 60%;
}

.s-img{
  position: absolute;
  bottom: -10px;
  left: -320px;
  rotate: 30deg;
  transition: .8s ease;
}

.t-img{
  position: absolute;
  bottom: -10px;
  right: -320px;
  rotate: 20deg;
  transition: .8s ease;
}

.fo-img{
  position: absolute;
  top: -50px;
  right: -320px;
  rotate: 50deg;
  transition: .8s ease;
}

.image{
  margin: 120px 0;
}

.image img{
  width: 100%;
}


.rooms{
  background-color: #caf0f8;
}

.splide {
  padding: 20px 0;
}

.splide__slide img {
  display: block;
  width: 100%;
  transform: scale(0.9);
  transform-origin: center center;
  transition: 0.3s ease;
}

.splide__slide img:hover{
  filter: brightness(.6);
}

.splide .splide__arrow {
  background: transparent ;
}

.splide__arrow--next{
  position: absolute;
  right: -50px !important;
}

.splide__arrow--prev{
  position: absolute;
  left: -50px !important;
}

.rooms-heading{
  letter-spacing: 1px;
  position: relative;
}

.room-txt{
  letter-spacing: 5px;
  color: var(--highlight);
  font-family: var(--highlight-txt);
}

.room-title{
  font-family: var(--title-font);
  font-weight: 500;
}

.splide__slide{
  position: relative;
}

.splide__caption{
  position: absolute;
  color: white;
  bottom: 1.5%;
  left: 24%;
}

.room-btn {
  position: relative;
  background-color: var(--highlight);
  color: white;
  font-size: 17px;
  font-weight: 600;
  width: 180px;
  height: 60px;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.room-btn::before {
  content: "Book now";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: white;
  border: 3px solid var(--highlight);
  color: var(--highlight);
  transform: translate(100%, 0);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.room-btn:hover::before {
  transform: translate(0%, 0%);
}

.room-btn:focus {
  outline: none;
}

.room-btn:active {
  transform: scale(0.95);
}

.contact-heading h5,
.contact-heading span{
  letter-spacing: 5px;
  font-weight: 600;
  font-family: var(--title-font);
}

.contact-heading span{
  color: var(--highlight);
}

.contact-info{
  line-height: 5px;
}

.contact-info a{
  text-decoration: none;
  color: black;
}

.contact-info a:hover{
  color: gray;
}

.contact-btn button{ 
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  letter-spacing: 2px;
  font-size: 14px;
  transition: 0.3s ease;
}

.contact-btn button:hover{
  background-color: white;
  color: var(--highlight) !important;
}

.contact-btn button:active{
  scale: 0.9;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


footer{
  background: url(images/footer-bg.png);
  background-size: cover;
  background-position: center;
}

.footer-heading{
  color: var(--highlight);
  font-size: 20px;
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-links{
  margin-top: 10px;
}

.footer-links a{
  text-decoration: none;
  color: rgb(65, 65, 65);
  line-height: 2;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--highlight);
  margin-top: 20px;
}

.footer-logo p {
  background-color: white;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: -15px;
}

.social-links a{
  text-decoration: none;
  color: var(--highlight);
  font-size: 26px;
  letter-spacing: 35px;
}

.copyright{
  font-size: 12px;
}

@media (max-width:1400px) {
  .splide__caption{
    left: 24%;
  }
}

@media (max-width:1200px) {
  .intro p{
    font-size: 16px;
  }

  .history-para{
    font-size: 16px;
  }

  .f-img{
    left: -48%;
    top: 0;
  }
  .s-img{
    left: -48%;
    bottom: 0;
  }
  .t-img{
    right: -48%;
    bottom: 0;
  }
  .fo-img{
    right: -48%;
    top: 0;
  }

  .splide__caption{
    left: 19.8%;
  }
}

@media (max-width:1024px) {

  .hero-txt{
    font-size: 12px;
  }

  .hero-title{
    font-size: 54px;
  }

  .intro,
  .history,
  .image{
    padding: 100px 0;
  }

  .intro p{
    font-size: 14px;
  }

  .history-heading h6{
    font-size: 28px;
  }

  .history-heading span{
    font-size: 12px;
  }

  .history-para{
    font-size: 14px;
  }

  .f-img{
    left: -48%;
    top: 10%;
  }
  .s-img{
    left: -48%;
    bottom: 10%;
  }
  .t-img{
    right: -48%;
    bottom: 10%;
  }
  .fo-img{
    right: -48%;
    top: 10%;
  }

  .splide__caption{
    left: 14%;
  }
}

@media (max-width:991px) {

  .intro p{
    text-align: justify;
    font-size: 16px;
  }

  .history-content{
    width: 68%;
  }

  .splide__caption{
    left: 33.8%;
  }
}

@media (max-width:900px) {

  .intro,
  .history,
  .image{
    padding: 50px 0;
  }

  .history-heading h6,
  .history-heading span{
    display: flex;
    justify-content: center;
  }

  .image{
    margin: 0;
  }
  
  .history-content{
    width: 100%;
  }

  .history-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
  }

  .history-images img{
    border: none;
    width: 48%;
  }

  .f-img,
  .s-img{
    position: relative;
    left: 0;
    rotate: 0deg;
  }
  .t-img{
    position: relative;
    left: 0;
    rotate: 0deg;
  }
  .fo-img{
    position: relative;
    right: 0;
    rotate: 0deg;
  }

  .f-img:hover,
  .s-img:hover,
  .t-img:hover,
  .fo-img:hover{
    transform: none;
    width: 48%;
  }
}

@media (max-width:767px) {

  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fcfcfc;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    transition: top .3s ease;
  } 

  .navbar-hidden {
    top: -86px; /* Adjust based on your navbar height */
  }

  .navbar-brand{
    color: var(--highlight) !important;
  }

  header .navbar-toggle i{
    color: var(--highlight) !important;
  }

  .hero-txt{
    font-size: 10px;
  }

  .hero-title{
    font-size: 44px ;
  }

  .splide__caption{
    left: 28.2%;
  }
}

@media (max-width:576px) {
  .hero-txt{
    font-size: 8px;
  }

  .room-txt{
    font-size: 14px;
    letter-spacing: 3px;
  }

  .room-title{
    font-size: 28px;
    letter-spacing: 3px;
  }

  .intro p{
    font-size: 14px;
  }

  .history p{
    font-size: 14px;
  }

  .room-txt{
    font-size: 14px;
    letter-spacing: 3px;
  }
  
  .room-title{
    font-size: 28px;
    letter-spacing: 3px;
  }

  .splide__caption{
    left: 28.2%;
  }

  .contact-heading h5{
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 3px;
    }
  
    .contact-heading p{
      font-size: 14px !important;
    }
  
    .contact-info p{
      font-size: 14px;
    }
  
    .footer-heading{
      margin-top: 24px;
    }
}

@media (max-width:430px) {

  .splide__caption{
    left: 22.3%;
  }

  .footer-heading{
    font-size: 16px;
  }

  .footer-links a{
    font-size: 14px;
  }

  .social-links a{
    font-size: 20px;
  }

  .footer-logo p{
    font-size: 16px;
  }
}

@media (max-width:394px) {
  .splide__caption{
    left: 19.65%;
  }
}