*{
  border: none;
  outline: none;
}

header .container {
  background: url(images/c3-min.jpg);
  background-size: cover;
  background-position: center;
}

header a{
  text-decoration: none;
  color: white;
}

.header-title p {
  margin-bottom: 0;
}

.check-in {
  background-color: orangered;
}

.room-heading p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.room-heading span {
  background-color: orangered;
}

.carousel-details {
  font-size: 12px;
}

.carousel-details button {
  background-color: orangered;
  color: white;
  font-size: 14px;
  border-radius: 8px;
}

.facilities .col-3 {
  font-size: 14px;
  color: rgb(65, 65, 65);
}

.facilities i {
  font-size: 18px;
}

.price {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
  background-color: orangered;
  color: #fff;
  margin-left: 20px;
}

.price:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid orangered;
  transform: translateY(-50%);
}

.book-btn2 {
  background-color: orangered;
  color: white;
}


.room-details .col-4 span{
  background-color: orangered;
}

.back button{
  background-color: orangered;
}

.details-content{
  display: none;
}
.check-in .btn-group button{
  color: black;
  background-color: white;
  padding: 8px 80px;
  font-size: 16px;
}
