@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=Playwrite+NG+Modern:wght@100..400&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap');


:root{
  --highlight: #ff4500;
  --highlight-txt: "Caveat", cursive;
  --hero-font: "DM Serif Text", serif;
  --title-font: "Saira Condensed", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body{
  background-color: rgb(250, 242, 233);
}

.navbar {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar .container{
  border-bottom: 1px solid var(--highlight);
}

.navbar-brand{
  font-weight: 700;
  color: var(--highlight);
}

.navbar-brand:hover{
  color: var(--highlight);
}

.navbar-toggle i{
  color: var(--highlight);
}

.navbar .enquiry-btn{
  border: 1px solid var(--highlight);
  background-color: var(--highlight);
  color: white;
  font-weight: 600;
}

.enquiry-btn:hover{
  background-color: transparent;
  color: var(--highlight);
}

.offcanvas{
  height: 100vh !important;
}

.room-links{
  margin-top: 180px;
}

.room{
  margin-top: 80px;
}

.room-links a{
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: var(--title-font);
  font-weight: 500;
}

.room-links a.active{
  color: orangered !important;
}

.room-details .col{
  padding: 0;
}

.room-txt{
  padding-left: 24px !important;
}

hr{
  color: orangered;
}

.room-title{
  font-size: 38px;
  font-family: var(--title-font);
  font-weight: 500;
}

.room-title span{
  font-family: var(--title-font);
  color: var(--highlight);
}

.room-para{
  font-size: 18px;
}

.room .price{
  font-size: 20px;
}

.price span{
  color: orangered;
}

.room-img img{
  width: 100%;
}

.room-img{
  position: relative;
}

.img-caption{
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-caption .book-btn{
  background-color: orangered;
  border-top-left-radius: 50px;
  padding: 10px 10px 5px 22px;
}

.img-caption .book-btn2{
  background-color: orangered;
}

form textarea{
  resize: none;
  height: 120px !important;
}

.modal-header span{
  color: orangered;
}

.modal-body span{
  color: red;
}

.amenities{
  background: url(images/standard-room2.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 150px;
}

.amenities .container-fluid{
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.amenities p{
  font-size: 22px;
}

.facilities{
  margin-top: 150px;
}

.facilities img{
  width: 100%;
  padding: 0;
}

.facilities-heading span{
  color: orangered;
  font-size: 14px;
  letter-spacing: 5px;
  font-family: var(--highlight-txt);
}

.facilities-heading h5{
  font-size: 36px;
  font-weight: 500;
  font-family: var(--title-font);
}

.facilities-heading p{
  font-size: 18px;
}

.contact{
  margin-top: 120px;
}

.contact-heading h5,
.contact-heading span{
  letter-spacing: 5px;
  font-weight: 600;
  font-family: var(--title-font);
}

.contact-heading span{
  color: var(--highlight);
}

.contact-info{
  line-height: 5px;
}

.contact-info a{
  text-decoration: none;
  color: black;
}

.contact-info a:hover{
  color: gray;
}

.contact-btn button{ 
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  letter-spacing: 2px;
  font-size: 14px;
  transition: 0.3s ease;
}

.contact-btn button:hover{
  background-color: white;
  color: var(--highlight) !important;
}

.contact-btn button:active{
  scale: 0.9;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  background: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
}

.footer-heading{
  color: var(--highlight);
  font-size: 20px;
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-links{
  margin-top: 10px;
}

.footer-links a{
  text-decoration: none;
  color: rgb(65, 65, 65);
  line-height: 2;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--highlight);
  margin-top: 20px;
}

.footer-logo p {
  background-color: white;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: -15px;
}

.social-links a{
  text-decoration: none;
  color: var(--highlight);
  font-size: 26px;
  letter-spacing: 35px;
}

.copyright{
  font-size: 12px;
}

@media (max-width:1200px) {
  .room-links .container{
    width: 75% !important;
  }

  .room-links a{
    font-size: 18px;
  }

  .room-title{
    font-size: 32px;
  }

  .room-para{
    font-size: 16px;
  }

  .facilities-heading p{
    font-size: 16px;
  }
}

@media (max-width:767px) {
  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fcfcfc;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    transition: top .3s ease;
  }
  
  .navbar .container{
    border: none;
  }

  .navbar-hidden {
    top: -86px; /* Adjust based on your navbar height */
  }

  .navbar-brand{
    color: var(--highlight) !important;
  }

  header .navbar-toggle i{
    color: var(--highlight) !important;
  }

  .room-links .container{
    width: 100% !important;
  }

  .room-links{
    margin-top: 140px;
  }
}

@media (max-width:576px) {
  .room-links{
    margin-top: 110px;
  }

  .room{
    margin-top: 60px;
  }

  .amenities{
    margin-top: 60px;
  }

  .facilities{
    margin-top: 60px;
  }

  .contact{
    margin-top: 60px;
  }

  .enquiry-txt{
    display: none;
  }

  .enquiry-btn i{
    padding: 0 6px;
  }

  .room-title{
    font-size: 28px;
  }

  .room-details .price{
    font-size: 16px;
  }

  .room-para{
    font-size: 14px;
  }

  .amenities p{
    font-size: 14px;
  }

  .amenities img{
    padding: 0 4px;
  }

  .facilities-heading h5{
    font-size: 28px;
  }

  .facilities-heading span{
    font-size: 12px;
  }

  .facilities-heading p{
    font-size: 14px;
  }

  .contact-heading h5{
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 3px;
    }
  
    .contact-heading p{
      font-size: 14px !important;
    }
  
    .contact-info p{
      font-size: 14px;
    }
  
    .footer-heading{
      margin-top: 24px;
    }
}

@media (max-width:430px) {
  .room-links a{
    font-size: 13px;
  }

  .contact{
    margin-top: 0;
  }

  .footer-heading{
    font-size: 16px;
  }

  .footer-links a{
    font-size: 14px;
  }

  .social-links a{
    font-size: 20px;
  }

  .footer-logo p{
    font-size: 16px;
  }
}